# Machine Learning from the VERY Beginning, A very good place to start..

### This tutorial will take you through the simplest possible ML application ever..

Hi, if you don't know juuuuust the basics of python and Jupyter Notebooks then this will be at best intimidating.

In [ ]:
if you not know:
    python_basics:
        you should really get that checked out, come back here later.
elif you not know:
    pandas_basics:
        check out my 'Pandas with JupyterLab Tutorial' on my GitHub

You need to have clicked the green download 'code' button on GitHub and you need the csv file in the same folder as this notebook.

First, we need to read in our csv file to the jupyter notebook so we import pandas which has a convenient read_csv() function.

In [19]:
import pandas as pd

In [27]:
dataset = pd.read_csv('activities.csv')   # reading in the csv file called 'activities'.
dataset                                   # let's have a look at our dataset

    age  gender favorite_activity
0    21       0          drinking
1    23       0          drinking
2    24       0          drinking
3    25       0           working
4    27       0           working
5    29       0           working
6    31       0         picnicing
7    33       0         picnicing
8    37       0         picnicing
9    20       1           dancing
10   22       1           dancing
11   24       1           dancing
12   26       1           working
13   27       1           working
14   30       1           working
15   32       1         picnicing
16   35       1         picnicing
17   39       1         picnicing

So that's our tiny dataset we'll be using. O means Male and 1 means Female. These findings are by no means correct, I made them up from close observation of the people in my life. Only Kidding.

Our ML algo will take in input data and use it to predict the output set, so we need to split the dataset into the input set (age and gender) and output set (genre). By convention we call the input set big 'X', and the output set small 'y'

In [28]:
X = dataset.drop(columns=['favorite_activity'])  # using the pandas drop() function, we drop the column 'favorite_activity' and assign the result (the input set) to X.
                                                 # X now stores the training data. 
y = dataset['favorite_activity']                 # using pandas, we select only the activity column and assign the output set to y, these are the predictions.  
y                                                # let's have a look at our output set.

0      drinking
1      drinking
2      drinking
3       working
4       working
5       working
6     picnicing
7     picnicing
8     picnicing
9       dancing
10      dancing
11      dancing
12      working
13      working
14      working
15    picnicing
16    picnicing
17    picnicing
Name: favorite_activity, dtype: object

Now we need a Machine Learning algo to train on the data. Scikit-Learn has a classifier algo that would be appropriate because we want it to classify people into HipHop, Jazz, Dance, Acoustic or Classical according to their age and gender.

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
model = DecisionTreeClassifier()    # assigning a new instance of the ML algo from Scikit-learn to 'model'.
model.fit(X, y)                     # training the model by calling fit() on it. fit() takes two args, the input set and the output set
predictions = model.predict([[21,0],[22,1]])  # call the predict() function on our model and pass it two arrays, each of them representing a person.
                                              # the first person is 21 and male, the second is 22 and female.

We are saying to the model: "Using the data sets X (the input data) and y (the 'answers'), predict what music a 21yo male and a 22yo female should like..

..and store it in a variable called predictions, which will be an array.

In [31]:
predictions  # let's have a look.

array(['drinking', 'dancing'], dtype=object)

## So, what have we done so far?

We have used the entire dataset for training. We have taken our tiny dataset and broken it up into two parts. The age and gender (first two columns) are the features of the dataset that we used for the inputs to the model and the last column, the favourite activities, contains the 'answers' or the desired outputs.  
We could have swapped things around and used the person's age and favorite activity to predict their gender!

Ok so that was an example of the SIMPLEST POSSIBLE machine learning application. We are going to take it to the next level.

With the above tiny dataset we could test it manually and see if it works but what about if the dataset has like 100,000 rows? We would be a little screwed and we would need to have some automatic way of testing the accuracy of our model.

### Testing Our Model

To do this we need to break it up into two sections, a training section and a testing section. I'll show you how to do this in the next tutorial in the notebook called 'JupyterNotebook2'.